/* set custom style for input searchbox */
form.form-input input[type="text"] {
  padding: 14.5px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 100%;
  background: #f1f1f1;
  height: 50%;
}

/*custom margin for div tag */
.set-margin {
  margin-top: 0%;
}

.jumbotron {
  background-image:  url("https://www.bestfoods.com/content/dam/unilever/hellmann_s_world/global/digital_and_online/wrap_lp-63808006-jpg.jpg");
  background-repeat: no-repeat;
  background-size: auto;
  z-index: 0;
  height: 550px;
  background-position: 10%, 0, 0, 5;
  padding: 10rem 5rem 2rem 20rem;
  margin-bottom: 2rem;
}
h1 {

  font-size: 100px;
  color:aliceblue;
  font-family: 'Rubik Burned', cursive;

}