/* set custom style for input searchbox */
form.form-input input[type="text"] {
  padding: 14.5px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 100%;
  background: #f1f1f1;
  height: 50%;
}

/*custom margin for div tag */
.set-margin {
  margin-top: 0%;
}
/*Styling for jumbotron*/

.jumbotron {
  background-image:  url("https://www.bestfoods.com/content/dam/unilever/hellmann_s_world/global/digital_and_online/wrap_lp-63808006-jpg.jpg");
  background-repeat: no-repeat;
  background-size: auto;
  z-index: 0;
  height: 400px;
  background-position: top left;
  padding: 9rem 0rem 0rem 3rem;
  margin-bottom: 2rem;
}

body {
  background-color: slategrey;
}

h1 {

  font-size: 90px;
  color:aliceblue;
  font-family: 'Rubik Marker Hatch', cursive;

}

h3 {
  font-family: 'Rubik Distressed', cursive;
  color: white;